
<div class="dvSolNew">

    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    
    <div class="content-wrapper clsDiv">
        <section class="content">
            <div class="login-box">
                <div class="login-box-body">
                    <h2 class="login-box-msg">Cambia tu contraseña</h2>
                    <form [formGroup] = "changePassForm" >
                
                        
                    <div class="form-group has-feedback" >
                    
                        <input id="inCurrentPass" type="password" class="form-control" placeholder="Contraseña actual" formControlName="inCurrentPass" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span style="color:Red;" *ngIf="changePassForm.controls['inCurrentPass'].touched && changePassForm.controls['inCurrentPass'].errors?.required">Este campo es obligatorio.</span>
                
                      </div>
                        
                      <div class="form-group has-feedback" >
                        
                        <input id="inNewPass" type="password" class="form-control" placeholder="Nueva contraseña" formControlName="inNewPass" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span style="color:Red;" *ngIf="changePassForm.controls['inNewPass'].touched && changePassForm.controls['inNewPass'].errors?.required">Este campo es obligatorio.</span>
                
                      </div>
                        
                      <div class="form-group has-feedback">
                        
                        <input id="inNewPassC" type="password" class="form-control" placeholder="Confirma la contraseña" formControlName="inNewPassC" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        
                        <span style="color:Red;" *ngIf="changePassForm.controls['inNewPassC'].touched && changePassForm.controls['inNewPassC'].errors?.required">Este campo es obligatorio.</span>
                        
                        <span style="color:Red;" *ngIf="changePassForm.controls['inNewPass'].value != changePassForm.controls['inNewPassC'].value">Las contraseñas no coinciden.</span>
                        <br>
                        <span style="color:green;" id="resultMsg"></span>
                      </div>
                        
                      <div class="row">
                        
                        <div class="col-xs-8">
                          <div class="checkbox icheck">
                            <label>
                              <!--<div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me-->
                            </label>
                          </div>
                        </div>
                
                        <!-- /.col -->
                        <div class="col-xs-4">
                          <button id="btnLogin" class="btn btn-primary btn-block btn-flat" [disabled]="changePassForm.invalid" (click)="onChangePass()" >Cambiar</button>
                        </div>
                        <!-- /.col -->
                      
                      </div>
                      
                    </form>
                    <span style="color:Red;" *ngIf="noFoundUsu">Usuario no encontrado.</span>
                </div>
            </div>
        </section>
    </div>

    <ngx-spinner
          bdOpacity = 0.5
          bdColor="rgba(51,51,51,0.8)"
          size = "large"
          color = "#f00"
          type = "timer"
          [fullScreen] = "true">
        <p style="color: red" > : : Cargando : : </p>
    </ngx-spinner>

    <app-footernavbar class="clsFooter"></app-footernavbar>
    <!-- 
      <app-settingsnavbar></app-settingsnavbar> -->
  
</div>