

@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#dtNueva{
  display: block;
  position: relative;
  top: -150px;
}


.hRight{
  text-align: right;
  font-size: 1.1em;
}

.afu-container{
    background-color: #BABABA;
    margin-top: 3vh;
    border: 4px solid rgb(139, 136, 136);
    border-radius: 6px;
}
.title{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.border{
    border: 2px solid rgb(140, 145, 142);
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}
.resetBtn{
    padding: 10px;
    margin: 10px;
}
.ffLato {
    font-family: 'Lato', sans-serif;
}
.bottom-info p {
    font-size: 1.5rem;
}

.hCenter{
  text-align: center;
}

  .clsMenuNew{
    height: 145% !important;
  }
  
  .h2Agent{
    display: block;
    margin: 10px 0px 0px 0px;
  }

  .h2Docs{
    display: block;
    margin: 0px 0px 25px 0px;
    text-align: center;
  }

  .btnAcept{
    font-size: 3em;
  }

  .bitacora{
    width: 80%;
  }

  .slcFian{
    width: 80%;
  }

  .dvDocs{
    margin-top: 5%;
  }


  @media (min-width: 992px){
    .col-md-3 {
      width: 33%;
    }
  }
  
  /*FileUpload CSS*/
  /*********************************************************************************************/
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #file-label {
    display: inline-flex;
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
  }

  #file-label mat-icon {
    font-size: 18px;
    text-align: center;
  }

  #file-label a {
    cursor: pointer;
  }

  .iconMat{
    color: #3ec0ef;
  }

  .titDoc{
    /*display: block;*/
    position: relative;
    height: 50px;
    font-size: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    color: #b2b2b2;
    font-weight: bold;

  }

  .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
    min-width: 0px;
  }

  .nameDoc{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  /*********************************************************************************************/
  
  .dvSolNew{
    background-color: #363839;
  }

  .clsBenf{
    font-size: 0.80em;
  }
  
  .clsDiv{
    min-height: 590px !important;
  }

  .clsFooter{
    max-height: 45px !important;
  }

  .box.box-info{
    border-top-color: #073050;
  }

  .inpTxtNueva{
    position: relative;
    display: inline-block;
    /* top: -18px; */
    bottom: 18px;
    width: 100%;
  }

  .spDocs{
    background-color: #b0b0b0;
  }

  .btnSave{
    background:url(../../../assets/Images/AccionaNew-3.png);
    float: right;
    background-color: red;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: 50% 58%;
    height: 65px;
    width: 65px;
    border-radius: 11%;
    box-shadow: 0 3px 1px -2px rgba(16, 16, 16, 0.7), 0 2px 2px 0 rgba(23, 23, 23, 0.5), 0 1px 5px 0 rgba(0,0,0,0.8);
}

.spGuardar{
  font-size: 12px;
  position: relative;
  color: white;
  top: 21px;
}

@media (max-width: 768px){
 
  .slcFian{
    width: 100%;
  }


  .dvContrato{
    position: relative;
    right: 10px;
  }

}