
<style>

html {
  scroll-behavior: smooth;
}

.mat-card{
  color:#0c0c0c !important;
}

    ::ng-deep .mat-card-header{
      /*
      background-image: url("https://gallery.mailchimp.com/482478b3bf2190b7275a12a8c/images/8446de2f-5692-4aec-b255-98da401490e0.jpg");
      */
      /*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://gallery.mailchimp.com/482478b3bf2190b7275a12a8c/images/8446de2f-5692-4aec-b255-98da401490e0.jpg");*/
     
      background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("assets/Images/aerogenerador-011.jpg");

      
      background-repeat: no-repeat;
      background-position: center;
    }

    .hCard{
      display: block;
      position: relative;
      left: -4%;
      top: 4px;
      color: rgb(14,32,57);
      font-size: 30px;
      font-stretch: ultra-condensed;
      font-variant-caps: small-caps;
    }

  textarea {
    resize: none;
  }

  .dvContr{
    padding: 5% 0px 0px 0px;
  }

  .txPrRela{
    font-size: 1.0em !important;
    text-transform: uppercase;
  }

  .txFia{
    font-size: 0.7em !important;
    text-transform: uppercase;
    height: 37px;
  }

  .dvComents{
    display: block;
    position: relative;
    margin-top: 5px;
    top: 0px;
    width: 90%;
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
    box-shadow: 5px -3px 6px -2px #0c0c0c;
    border-top: 5px solid rgba(146, 145, 145,1.0);
    border-left: 5px solid rgba(113, 113, 113, 0.5);
    border-radius: 4px 4px 4px 4px;
  }

  .h1Coments{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 85%;
  }

  .imgComents{
    position: relative;
    display: block;
    float: right;
  }

  .dvTxArComents{
    position: relative;
    display: block;
    width: 70%;
    margin: 0px 0px 0px 15%;
  }
  
  .dvCargaDoc{
    z-index: 1;
  }

  .form-group[_ngcontent-c15] {
    margin-bottom: -4px;
  }

  /************************************************************************************/
  
  .rowFiles{
    position: relative;
    display: block;
    top: -30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  
  @media (min-width: 992px){
    .colmd3[_ngcontent-c15] {
      width: 25% !important;
      float: left;
    }
  }

/**************************************************************************************/
#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffffff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}



#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}


.btnSave{
  background: url("assets/Images/AccionaNew-3.png");
  float: right;
  background-color: red;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: 50% 58%;
  height: 65px;
  width: 65px;
  border-radius: 11%;
  /*box-shadow: 0 3px 1px -2px rgba(16, 16, 16, 0.7), 0 2px 2px 0 rgba(23, 23, 23, 0.5), 0 1px 5px 0 rgba(0,0,0,0.8);*/
  margin: 0% 0% 0% 3%;
}

.spGuardar{
    font-size: 12px;
    position: relative;
    color: white;
    top: 21px;
}


.btnSaveComent{
    background: url(assets/Images/AccionaNew-3.png);
    float: right;
    position: relative;
    right: 20px;
    top: -10px;
    background-color: red;
    background-size: 110px 100px;
    background-repeat: no-repeat;
    background-position: 50% 51%;
    height: 30px;
    width: 37px;
    border-radius: 11%;
    box-shadow: 0 3px 1px -2px rgba(16, 16, 16, 0.7), 0 2px 2px 0 rgba(23, 23, 23, 0.5), 0 1px 5px 0 rgba(0,0,0,0.8);
}

.spSaveComent{
  position: relative;
  top: 26px;
  right: 8px;
}

.btnFileCom{
  background: transparent;
  color: #97a0b3;
}


.btnAnular{
  background: url("assets/Images/AccionaNew-3.png");
  float: right;
  background-color: rgb(128, 128, 128);
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: 50% 58%;
  height: 65px;
  width: 65px;
  border-radius: 11%;
  /*box-shadow: 0 3px 1px -2px rgba(16, 16, 16, 0.7), 0 2px 2px 0 rgba(23, 23, 23, 0.5), 0 1px 5px 0 rgba(0,0,0,0.8);*/
  margin: 0% 0% 0% 5%;
}



/**************************************************************************************/

</style>


<div class="mb-2" id="dtClientes">

  <div class="box-primary " id="boxFiltros">
    <mat-card class="table table-bordered table-hover">
      
      <mat-card-header>
        <mat-card-title>
          <h3 mat-dialog-title class="hCard">Solicitud: {{data.solDetFianza.NUM_SOL}}</h3>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-tab-group mat-stretch-tabs mat-align-tabs="center" > 
                
        <!-- INICIA MODULO CONTRATO -->
        <mat-tab #tab >

          <ng-template mat-tab-label class="headTabTable" class="ngTemplate" >
            <span class="tab-number" (click)="onLinkClick(0)">Contrato</span>
          </ng-template>

          <form class="mat-dialog-content" [formGroup] = "contracForm" >

            <div class="row">

              <div class="col-md-3">
              </div>

              <div class="col-md-3">
              </div>
              
              <div class="col-md-3">

                <button  id="btnContrato" mat-raised-button color="primary" class="btnSave img-circle info-box-icon btnAcept btnContrMob" focusable="false" [disabled]="contracForm.invalid" (click)="onSaveContrato()" >
                  <span class="spGuardar">Guardar</span>
                </button>

                <button *ngIf="showButton"  id="btnAnular" mat-raised-button color="primary" class="btnAnular img-circle info-box-icon btnAcept" focusable="false" (click)="onAnuSol()" >
                  <span class="spGuardar">Anular</span>
                </button>

              </div>
            
            </div>

            <div class="row rowContrMob">
                <div class="col-md-3">
                    
                </div>

                <div class="col-md-3 dvContr">
                    
                  <div class="form-group">
                        <mat-form-field color="accent" >
                          <input matInput type="text" id="contrAfi" placeholder="" #input            
                            class="form-control"  name="contrAfi" formControlName="contrAfi" [ngModel]="data.solDetFianza.CONTRAC_SOL.NUM_CONTR" >
                          <mat-placeholder class="placeHolder"># Contrato</mat-placeholder>
                        </mat-form-field>
                  </div>
                
                </div>

                <div id="dvContrato" class="col-md-3 pull-right image">
                </div>

            </div>

            <div class="row">
              
              <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <mat-form-field color="accent" >
                          <input matInput type="text" id="rfcFia" placeholder="" #input            
                            class="form-control"  name="rfcFia" formControlName="rfcFia" [ngModel]="rfcFiado" >
                          <mat-placeholder class="placeHolder">Nombre Fiado</mat-placeholder>
                        </mat-form-field>
                    </div>
                </div>
              </div>

              <div class="col-md-3">
                  <mat-form-field color="accent">
                      <input matInput placeholder="Fecha Contrato" [satDatepicker]="contraPicker"     
                      class="form-control" name="dateContr" formControlName="dateContr" [ngModel]="data.solDetFianza.CONTRAC_SOL.FEC_CONTR">
                    <sat-datepicker #contraPicker></sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="contraPicker"></sat-datepicker-toggle>
                  </mat-form-field>
              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <mat-form-field color="accent">
                          <input matInput placeholder="Fecha Cumplimiento" [satDatepicker]="conCumpPicker"     
                          class="form-control" name="conCumpPicker" formControlName="dateCumContr" [ngModel]="data.solDetFianza.CONTRAC_SOL.FEC_CUMP_CONTR">
                        <sat-datepicker #conCumpPicker></sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="conCumpPicker"></sat-datepicker-toggle>
                      </mat-form-field>  
                  </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                    <mat-form-field color="accent" >
                      <textarea rows="2" matInput type="" id="proyectContr" placeholder="" #input       
                        class="form-control txPrRela"  name="proyectContr" formControlName="proyectContr" [ngModel]="data.solDetFianza.DES_PROY_SOL" >
                        </textarea>
                      <mat-placeholder class="placeHolder">Proyecto</mat-placeholder>
                    </mat-form-field>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                      <mat-form-field color="accent" >
                        <textarea rows="2" matInput type="text" id="relA" placeholder="" #input   
                          class="form-control txPrRela"  name="relA" formControlName="relA" [ngModel]="data.solDetFianza.CONTRAC_SOL.RELA_CONTR">
                        </textarea>
                        <mat-placeholder class="placeHolder">Realtivo A</mat-placeholder>
                      </mat-form-field>
                  </div>
              </div>

            </div>

            <div class="row">
                <div class="form-group">
                  <div class="card card-default cardBody">
                    
                    <div class="card-header"></div>
    
                    <div class="card-body">

                       <!--DocsFianza-->
                       <div *ngFor="let fileDoc of data.solDetFianza.lstDocsFia">
                              
                          <div class="col-12 col-sm-6 col-md-3">
                              <a class="titHead">{{fileDoc.DES_TIP}}</a>
                              <div class="info-box-2 bg-info">
                              
                                <div class="dvBoxFath">
                                  <span class="elevation-1">
                                    <!--AQUI IPR-->
                                    <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="onClickFile(fileDoc.ID_TIPO, fileDoc.ID_DOCUMENTO)" [disabled]="btnDis">
                                      <!--<i class="fa fa-download mat-icon"></i>-->
                                      <mat-icon class="iconMat">unarchive</mat-icon>
                                    </button>
                                    <ul>
                                      <li>
                                        <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                        <span  class="nameDoc"></span>
                                      </li>
                                    </ul>
                                    <input type="file" id="{{'in'+fileDoc.ID_TIPO}}" name="inDocFia" 
                                        accept="{{accept}}" style="display:none;" (change)="onChange($event, fileDoc.ID_TIPO)"/>
                                    <button id="" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="DownLoadFiles(fileDoc)" >
                                      <!--<i class="fa fa-file-o mat-icon"></i>-->
                                      <mat-icon class="iconMat iconDown">archive</mat-icon>
                                    </button>
                                    
                                  </span>
                              </div>
                            
                              <div class="dvBoxChid ">
                                <span class="elevation-1">
                                  <div>
                                    <a id="{{'sp'+fileDoc.ID_TIPO}}" class="titDoc">{{fileDoc.NOM_DOCUMENTO}}</a>
                                    <!--
                                    <div class="dvSlide">
                                      <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                    -->
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>

          </form>

        </mat-tab>
        <!-- FIN MODULO CONTRATO -->

        <!-- INICIA MODULO FIANZA -->
        <mat-tab [disabled]='isActiveFia' >

          <ng-template mat-tab-label>
            <span class="tab-number" (click)="onLinkClick(1)">Fianza</span>
          </ng-template>
        
          <form class="mat-dialog-content"  [formGroup] = "fianzaForm" >

            <div class="row">

              <div class="col-md-3">
              </div>

              <div class="col-md-3">
              </div>

              <div class="col-md-3">

                  <button *ngIf="showButton"  id="btnFianza" mat-raised-button color="primary" class="btnSave img-circle info-box-icon btnAcept" focusable="false" [disabled]="fianzaForm.invalid" (click)="onSaveFia()" >
                      <span class="spGuardar">Guardar</span>
                  </button>

                  <button *ngIf="showButton"  id="btnAnular" mat-raised-button color="primary" class="btnAnular img-circle info-box-icon btnAcept" focusable="false" (click)="onAnuSol()" >
                    <span class="spGuardar">Anular</span>
                  </button>
                 
              </div>

            </div>
            
            <div class="row">
              <div class="col-md-3">
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field color="accent">
                    <input matInput type="text" id="numFia" placeholder="" #input class="form-control"  [ngModel]="data.solDetFianza.FIANZA_SOL.NUM_FIA" name="numFia" formControlName="numFia" >
                    <mat-placeholder class="placeHolder"># Fianza</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-3">
              </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field color="accent">
                        <input matInput type="text" id="numInc" placeholder="" #input class="form-control"  [ngModel]="data.solDetFianza.FIANZA_SOL.NUM_INC" name="numInc" formControlName="numInc" >
                        <mat-placeholder class="placeHolder"># Inclusión</mat-placeholder>
                      </mat-form-field>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field color="accent" class="slcFian2">
                          <mat-label>Afianzadora</mat-label>
                          <mat-select formControlName="slAfin">
                              <mat-option *ngFor="let afianz of solNewAfia.lstAfianzadoras" [value]="afianz.CVE_AFIAN" >
                                {{afianz.NOM_AFIAN}}
                              </mat-option>     
                            </mat-select>
                      </mat-form-field>
                  </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <mat-form-field color="accent">
                            <textarea rows="2" matInput type="text" #input id="descSol" class="form-control txFia" placeholder="" name="descSol" [ngModel]="data.solDetFianza.FIANZA_SOL.DESC_PAQUETE" formControlName="descSol" disabled >
                            </textarea>
                            <mat-placeholder class="placeHolder">Tipo de Fianza</mat-placeholder>
                          </mat-form-field>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3">
                  <div class="form-group">
                      <mat-form-field color="accent">
                          <textarea rows="2" matInput type="text" #inputstate id="benFia" class="form-control txFia" placeholder="" name="benFia" maxlength="10" [ngModel]="data.solDetFianza.FIANZA_SOL.NOMBRE_BENEF" formControlName="benFia" disabled>
                          </textarea>
                          <mat-placeholder class="placeHolder">Beneficiario</mat-placeholder>
                        </mat-form-field>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                      <mat-form-field color="accent">
                          <input matInput placeholder="Fecha Emisión" [satDatepicker]="emiPicker"     
                          class="form-control" name="emiFia" formControlName="emiFia" [ngModel]="data.solDetFianza.FIANZA_SOL.FEC_EMI_FIA">
                        <sat-datepicker #emiPicker></sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="emiPicker"></sat-datepicker-toggle>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group dvFecVig">
                      <mat-form-field color="accent" class="cssMatFec mat-form-field-infix" dateFormat1>
                          <input id="inpVig" matInput [satDatepicker]="vigPicker" placeholder="Vigencia Fianza"  formControlName="vigFia" (dateChange)="saveDate($event)" [ngModel]="date1" >
                          <sat-datepicker #vigPicker [rangeMode]="true"></sat-datepicker>
                          <sat-datepicker-toggle matSuffix [for]="vigPicker"></sat-datepicker-toggle>
                        </mat-form-field>
                  </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3">
                  <div class="form-group">
                      <mat-form-field color="accent">
                          <input matInput placeholder="Fecha Cumplimiento" [satDatepicker]="cumFia"     
                          class="form-control" name="cumFia" formControlName="cumFia" [ngModel]="data.solDetFianza.FIANZA_SOL.FEC_CUM_FIA">
                        <sat-datepicker #cumFia></sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="cumFia"></sat-datepicker-toggle>
                        </mat-form-field>
                  </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <mat-form-field color="accent">
                            <input matInput type="tel" #input id="monFia" class="form-control" placeholder="" [ngModel]="data.solDetFianza.FIANZA_SOL.MONTO_FIA" name="monFia" formControlName="monFia" currencyMask [options]="{ prefix: '$', thousands: ',', decimal: '.', align: 'center' }" >
                            <mat-placeholder class="placeHolder">Monto Afianzamiento</mat-placeholder>
                          </mat-form-field>
                    </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                      <mat-form-field color="accent">
                          <input matInput type="tel" #input id="primTot" class="form-control" placeholder="" [ngModel]="data.solDetFianza.FIANZA_SOL.PRIMA_TOTAL_FIA" name="primTot" formControlName="primTot" currencyMask [options]="{ prefix: '$', thousands: ',', decimal: '.', align: 'center' }">
                          <mat-placeholder class="placeHolder">Prima Total</mat-placeholder>
                        </mat-form-field>
                  </div>

                  <div id="dvContrato" class="row">
                  </div>
                  
                </div>

            </div>

            <!-- DOCUMENTOS -->
              <div class="row"> 
              <div class="form-group">
                <div class="card card-default cardBody">
                  
                  <div class="card-header"></div>
  
                  <div class="card-body">
                  
                    <div class="row rowFiles">

                      <section class="content">
                        <!--DocsFianza Manuales-->
                        <!--Poliza-->
                        <div *ngIf="show" class="col-sm-6 dvCardPdf">
                          
                          <div class="info-box bg-info">
                            
                            <div class="dvBoxFath">
                              <span class="elevation-1">
                                <button *ngIf="showButton" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(3)'  >
                                  <mat-icon class="iconMat">unarchive</mat-icon>
                                </button>
                                <ul>
                                  <li>
                                    <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                  </li>
                                </ul>
                                <input type="file" id="in3" name="inFileFia" 
                                    accept="{{accept}}" style="display:none;" (change)="onChange($event, 3)"/>
                                <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="startEdit()" [disabled]="!showButton">
                                  <mat-icon class="iconMat iconDown">archive</mat-icon>
                                </button>
                              </span>
                            </div>
                        
                            <div class="dvBoxChid ">
                              <span class="elevation-1">
                                <p>
                                  <a class="titDoc">Poliza</a>
                                  <br />
                                  <span id="spFianza"></span>
                                </p>
                                <div class="dvSlide">
                                </div>
                              </span>
                            </div>

                          </div>
                        </div>
                      
                        <!--XML Poliza-->
                        <div *ngIf="show" class="col-sm-6 dvCardPdf">
                          <div class="info-box bg-info">
                        
                          <div class="dvBoxFath">
                            <span class="elevation-1">
                              <button *ngIf="showButton" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(33)' >
                                <mat-icon class="iconMat">unarchive</mat-icon>
                              </button>
                              <ul>
                                <li>
                                  <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                </li>
                              </ul>
                                <input type="file" id="in33" name="inFileRec" 
                                    accept="{{accept}}" style="display:none;" (change)="onChange($event, 33)"/>
                                  <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="startEdit()" [disabled]="!showButton">
                                    <mat-icon class="iconMat iconDown">archive</mat-icon>
                                  </button>
                            </span>  
                          </div>
                        
                            <div class="dvBoxChid ">
                              <span class="elevation-1">
                                <p><a class="titDoc">XML Poliza</a>
                                  <br />
                                  <span id="spXMLFia"></span>
                                </p>
                                <div class="dvSlide">
                                </div>
                              </span>
                            </div>                            
                        
                          </div>
                          
                        </div>
                      
                        <!--Recibo-->
                        <div *ngIf="show" class="col-sm-6 dvCardXml">
                          <div class="info-box bg-info">
                            <div class="dvBoxFath">
                              <span class="elevation-1">
                                <button *ngIf="showButton" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(7)' >
                                  <mat-icon class="iconMat">unarchive</mat-icon>
                                </button>
                                <ul>
                                  <li>
                                    <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                  </li>
                                </ul>
                                <input type="file" id="in7" name="inFileRec" 
                                    accept="{{accept}}" style="display:none;" (change)="onChange($event, 7)"/>
                                <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="startEdit()" [disabled]="!showButton">
                                  <mat-icon class="iconMat iconDown">archive</mat-icon>
                                </button>
                              </span>
                            </div>
                        
                            <div class="dvBoxChid ">
                              <span class="elevation-1">
                                <p><a class="titDoc">Recibo</a>
                                  <br />
                                  <span id="spRecibo"></span>
                                </p>
                                <div class="dvSlide">
                                </div>
                              </span>
                            </div>                                     
                        
                          </div>
                        </div>
                      
                        <!--Recibo XML-->
                        <div *ngIf="show" class="col-sm-6 dvCardXml">
                          <div class="info-box bg-info">
                        
                          <div class="dvBoxFath">
                            <span class="elevation-1">
                              <button *ngIf="showButton" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(8)' >
                                <mat-icon class="iconMat">unarchive</mat-icon>
                              </button>
                              <ul>
                                <li>
                                  <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                </li>
                              </ul>
                                <input type="file" id="in8" name="inFileRec" 
                                    accept="{{accept}}" style="display:none;" (change)="onChange($event, 8)"/>
                                  <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="startEdit()" [disabled]="!showButton">
                                    <mat-icon class="iconMat iconDown">archive</mat-icon>
                                  </button>
                            </span>  
                          </div>
                        
                          <div class="dvBoxChid ">
                              <span class="elevation-1">
                                <p><a class="titDoc">XML Recibo</a>
                                  <br />
                                  <span id="spXMLRec"></span>
                                </p>
                                <div class="dvSlide">
                                </div>
                              </span>
                          </div>                            
                        
                          </div>
                          
                        </div>

                        <!--DocsFianza Automaticos-->
                        <div *ngFor="let fileFia of data.solDetFianza.lstFilesFia">
                              
                          
                          
                          <div class="col-sm-6 dvCardAut"  *ngIf="fileFia.b_DOCUMENTO" >
                           
                            <a class="titHead">{{fileFia.DES_TIP}}</a>
                              
                            <div class="info-box bg-info">
                                  
                              <div class="dvBoxFath">
                                  
                                <span class="elevation-1">
                                  <button *ngIf="showButton" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(fileFia.ID_TIPO, fileFia.ID_DOCUMENTO)' >
                                    <mat-icon class="iconMat">unarchive</mat-icon>
                                    
                                  </button>
                                  <ul>
                                    <li>
                                      <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                    </li>
                                  </ul>
                                  <input type="file" id="{{'in'+fileFia.ID_TIPO}}" name="inFileFia" 
                                      accept="{{accept}}" style="display:none;" (change)="onChange($event, fileFia.ID_TIPO)"/>
                                  <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="DownLoadFiles(fileFia)" [disabled]="fileFia.DISPLAY_BTN">
                                    <mat-icon class="iconMat iconDown">archive</mat-icon>
                                  </button>
                                </span>

                              </div>
                            
                              <!-- <div class="dvBoxChid ">
                                <span class="elevation-1">
                                  <div>
                                    <a id="{{'sp'+fileFia.DES_TIP}}" class="titDoc">{{fileFia.NOM_DOCUMENTO}}</a>
                                    <div class="dvSlide">
                                    </div>
                                  </div>
                                </span>
                              </div> -->
                              <div class="dvBoxChid" *ngIf="(fileFia.ID_TIPO == 3) || (fileFia.ID_TIPO == 7)">
                                <span class="elevation-1">
                                  <div>
                                    <a id="{{'sp'+fileFia.DES_TIP}}" class="titDoc">{{fileFia.NOM_DOCUMENTO}}</a>
                                    <div class="dvSlide">
                                    </div>
                                  </div>
                                </span>
                              </div>
                              <div class="dvBoxChid" *ngIf="fileFia.ID_TIPO == 33">
                                <span class="elevation-1">
                                  <div>
                                    <a id="spXMLFia" class="titDoc">{{fileFia.NOM_DOCUMENTO}}</a>
                                    <div class="dvSlide">
                                    </div>
                                  </div>
                                </span>
                              </div>
                              <div class="dvBoxChid" *ngIf="fileFia.ID_TIPO == 8">
                                <span class="elevation-1">
                                  <div>
                                    <a id="spXMLRec" class="titDoc">{{fileFia.NOM_DOCUMENTO}}</a>
                                    <div class="dvSlide">
                                    </div>
                                  </div>
                                </span>
                              </div>

                            </div>

                          </div>
                        
                        </div>
                      </section>
                     
                    </div>

                  </div>
                
                </div>     
              </div>
            </div>

          </form>

        </mat-tab> 
        <!-- FIN MODULO FIANZA -->

        <!-- RECIBO MODULO RECIBO -->
        <mat-tab #tabRec  [disabled]='isActiveRec' >

          <ng-template mat-tab-label class="headTabTable" class="ngTemplate" >
            <span class="tab-number" (click)="onLinkClick(2)">Recibo</span>
          </ng-template>

            <form class="mat-dialog-content frmRec" [formGroup] = "reciboForm">
              
              
              <div class="row rowBtn">
               
                <div class="col-md-3">
                </div>
  
                <div class="col-md-3">
                
                 

                </div>
  
                <div id="dvRowBtn" class="col-md-3">

                  <button *ngIf="showButton"  id="btnRecibo" mat-raised-button color="primary" class="btnSave img-circle info-box-icon btnAcept" focusable="false" [disabled]="reciboForm.invalid" (click)="onSaveRec()" >
                      <span class="spGuardar">Guardar</span>
                  </button>

                  <button *ngIf="showButton"  id="btnAnular" mat-raised-button color="primary" class="btnAnular img-circle info-box-icon btnAcept" focusable="false" (click)="onAnuSol()" >
                    <span class="spGuardar">Anular</span>
                  </button>
               
                </div>


              </div>



              
              <div class="row">

                <div class="col-md-3">
                  <div class="form-group inpRec">
                    <mat-form-field color="accent">
                      <input matInput type="text" id="folRec" placeholder="" #input class="form-control"  [ngModel]="data.solDetFianza.RECIBO_SOL.NUM_REC" name="folRec" formControlName="folRec">
                      <mat-placeholder class="placeHolder">Folio Recibo</mat-placeholder>
                  </mat-form-field>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group inpRec">
                    <mat-form-field color="accent">
                      <input matInput placeholder="Fecha Recibo" [satDatepicker]="recPicker"     
                        class="form-control" name="recPicker" formControlName="dateRec" [ngModel]="data.solDetFianza.RECIBO_SOL.FEC_REC">
                      <sat-datepicker #recPicker></sat-datepicker>
                      <sat-datepicker-toggle matSuffix [for]="recPicker"></sat-datepicker-toggle>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group inRecUUID">
                      <mat-form-field color="accent">
                        <mat-placeholder class="placeHolder">UUID Recibo</mat-placeholder>  
                        <textarea matInput rows="2" id="uuidRec" #input class="form-control"  [ngModel] 
                          ="data.solDetFianza.RECIBO_SOL.UUID_REC" name="uuidRec"  formControlName="uuidRec"
                          pattern="[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}">
                          </textarea>
                      </mat-form-field>
                    </div>
                </div>

              </div>

              <div class="row stRecAcc">

                  <div *ngIf="showButton" class="col-md-3">
                    <div class="form-group inpRec">
                      <mat-form-field color="accent">
                        <input matInput type="tel" #inputstate id="primNeta" class="form-control" placeholder="" [ngModel]="data.solDetFianza.RECIBO_SOL.PRIMA_NETA" name="primNeta" formControlName="primNeta" currencyMask [options]="{ prefix: '$', thousands: ',', decimal: '.', align: 'center'}">
                        <mat-placeholder class="placeHolder">Prima Neta</mat-placeholder>
                      </mat-form-field>
                    </div>
                  </div>

                  <div *ngIf="showButton" class="col-md-3">
                    <div class="form-group inpRec">
                      <mat-form-field color="accent">
                        <input matInput type="tel" #inputstate id="comRec" class="form-control" placeholder="" [ngModel]="data.solDetFianza.RECIBO_SOL.COM_REC" name="comRec"  formControlName="comRec" currencyMask [options]="{ prefix: '$', thousands: ',', decimal: '.', align: 'center' }">
                        <mat-placeholder class="placeHolder">Comisión Recibo</mat-placeholder>
                    </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group inpRec slcStRec">
                      <mat-form-field color=""  class="slcFian">
                        <mat-label>Status Recibo</mat-label>
                        <mat-select formControlName="statusRec" >
                            <mat-option *ngFor="let stRec of data.solDetFianza.lstStatusRec" [value]="stRec.CVE_STATUS_REC">
                                {{stRec.DESC_STATUS}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
              
              </div>

              <div class="row tpMonAcc">

                <div class="col-md-3">
                  <div class="form-group inpRec slcStRec">
                    <mat-form-field color="" class="slcFian">
                      <mat-label>Tipo Moneda</mat-label>
                      <mat-select formControlName="tipMonRec" disableOptionCentering >
                          <mat-option *ngFor="let tipMon of data.solDetFianza.lstTipMonRec" [value]="tipMon.CVE_MONEDA">
                              {{tipMon.DESC_MONEDA}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </div>


            </form>
      
        </mat-tab>
        <!-- FIN MODULO RECIBO -->

        <!-- MODULO CANCELACIONES -->
        <mat-tab>

          <ng-template mat-tab-label>
            <span class="tab-number">Cancelación</span>
          </ng-template>

          <form class="mat-dialog-content" [formGroup]="CancelacionForm">

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <button *ngIf="!MostrarDocCancelacion" id="btnFianza" mat-raised-button color="primary" 
                  class="btnSave img-circle info-box-icon btnAcept" focusable="false" 
                  [disabled]="CancelacionForm.invalid" (click)="cancelacion()" >
                    <span class="spGuardar">Cancelación</span>
                </button>
              </div>
            </div>

            <div class="row">
              <br>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field color="accent" >
                    <input [readonly]="MostrarDocCancelacion" matInput type="text" id="comentario_cancelacion" placeholder="" #input            
                      class="form-control"  name="comentario_cancelacion" 
                      formControlName="comentario_cancelacion" value="{{ComentarioCancelacion}}">
                    <mat-placeholder class="placeHolder">Comentarios Cancelación</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6 dvCardAut">
                <a class="titHead">Carta Cancelación</a>
                <div class="info-box bg-info" style="height: 100px">

                  <div class="dvBoxFath">
                    <span class="elevation-1">
                      <button *ngIf="!MostrarDocCancelacion" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" 
                        focusable="false" (click)='onClickFile(34, 0)'>
                        <mat-icon class="iconMat">unarchive</mat-icon>
                      </button>
                      <ul>
                        <li>
                          <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                        </li>
                      </ul>
                      <input type="file" id="in34" name="inFileFia" accept="{{accept}}" style="display:none;" (change)="onChange($event, 34)"/>
                      <button *ngIf="MostrarDocCancelacion" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" 
                      focusable="false" (click)="DownLoadFiles(data.solDetFianza.lstCancelacionFia[0])">
                      <mat-icon class="iconMat iconDown">archive</mat-icon>
                      </button>
                    </span>
                  </div>
                  <div class="dvBoxChid">
                    <span class="elevation-1">
                      <div>
                        <a id="spDocCancelacion" class="titDoc"></a>
                        <a *ngIf="MostrarDocCancelacion" id="spDocCancelacion" class="titDoc">{{data.solDetFianza.lstCancelacionFia[0].NOM_DOCUMENTO}}</a>
                        <div class="dvSlide">
                        </div>
                      </div>
                    </span>
                  </div>

                </div>
              </div>
            </div>

          </form>

        </mat-tab>
        <!-- FIN MODULO CANCELACIONES -->

      </mat-tab-group>   


      <!-- COMENTARIOS -->
      <mat-card-footer id="mat-card-comments" [ngClass]="dvFootCom" >
  
        <div id="dvcoments" class="container dvComents">

          <div class="box-header with-border">
              <h1 class="lblComentarios h1Coments">Comentarios</h1>
            
              <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool"  id="cta" style="display: none"></button>
                  <button type="button" class="btn btn-box-tool" id="new">
                    <i class="material-icons newComent"  >control_point</i>  
                    <span class="users-list-date">Comentario</span>
                  </button>
                  <button type="button" class="btn btn-box-tool" (click)='bitacoraPDF(data.solDetFianza.NUM_SOL)' [disabled]="showBtnCom" >
                    <i class="material-icons dowBit">system_update_alt</i>
                    <span class="users-list-date">Bitácora</span>
                  </button>
              </div>

          </div>
         
          <!-- COMENTARIOS -->

          <form [formGroup] = "ComentForm" class="" id="formComent" style="display: none">
              <div class="newCom" id="infoNewComent">
                  <div class="item content-coment dvNewComent">
                    <div class="description desNewComent">                 
                       
                        <div class="box-body no-padding">

                            <div class="col-md-10">
                              <mat-form-field color="" class="bitacora">
                                  <mat-label>Nuevo Comentario</mat-label>
                                  <textarea matInput id="descComentario" formControlName="descComentario"   class="txtNewComent" placeholder="" name="descComentario" maxlength="500">
                                  </textarea>
                              </mat-form-field>
                            </div>

                            <div class="pad box-pane-right" >
                              
                              <div class="description-block margin-bottom">
                                  
                                  <button type="button" id="btnGuardarComent" class="btn btn-box-tool btnSaveComent" [disabled]="ComentForm.invalid" focusable="false" (click)="onAltaComent()">
                                    <span class="users-list-date spSaveComent">Guardar</span>
                                  </button>

                                 

                                  <!--
                                  <button type="button" class="btnSaveComn btn btn-box-tool" id="btnGuardarComent" [disabled]="ComentForm.invalid" focusable="false" (click)="onAltaComent()">
                                      <i class="fa fa-floppy-o  mat-icon i-guardar-coment"></i>
                                      <span class="users-list-date">Guardar</span>
                                  </button>
                                  -->
                                  
                                  
                                  <button type="button" (click)='cargarDocComent()' class="btn btnFileCom"  
                                    id="btnCargarDocComent">
                                    <mat-icon class="iconMat">unarchive</mat-icon> 
                                    <span id="nameDoc" class="users-list-date">Archivo</span>
                                    <input type="file" id="docComent" name="docComent" accept="" style="display:none;" (change)="onChangeDocComent($event)"/>
                                  </button>
                              </div>
                        
                            </div>

                        </div>

                    </div>
                  </div> 
              </div>
          </form>

          <div class="info" id="infoComents">
            <div id="ng-star-inserted-coments" *ngFor="let comentario of comentariosSol">
              <div class="item content-coment">
                <div class="description">                 
                    <div class="pull-left image" *ngIf="comentario.cvePerfil == 6">
                        <img src="assets/Images/avatarOrdas.png" class="img-circle avatar" alt="user profile image">
                    </div>                  
                    <div class="pull-left image" *ngIf="comentario.cvePerfil == 7 || comentario.cvePerfil == 8">
                        <img src="assets/Images/avatarAcciona.png" class="img-circle avatar" alt="user profile image">
                    </div>     
                  <label>{{comentario.nombreUsuario}}:</label>
                  <h6 id="time{{comentario.ID_COMENTARIO}}" class="text-muted time">{{comentario.fecComentario}}</h6>
                  <p class="comentario">{{comentario.comentario}}</p>
                </div>
                <button *ngIf="comentario.documentosComentarioSol.length > 0" type="button" (click)='DownLoadFiles(comentario.documentosComentarioSol[0])' class="btn btn-box-tool  
                      pull-right"  
                      id="btnCargarDocComent">
                  <mat-icon class="iconMat iconDown">archive</mat-icon> 
                  <span class="users-list-date">Archivo</span>
                </button>
              </div> 
            </div>      
          </div>

        </div>
      </mat-card-footer>
   
    </mat-card>

    <div id="container-floating">
      <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
        <p class="plus">
          <a (click)='viewDocComent()'><i class="material-icons">post_add</i></a>
        </p>
      </div>
    </div>

  </div>

  

</div>
