
::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

::ng-deep .mat-tab-label, .mat-tab-link {
  color:rgba(255, 0, 0, 0.87);
  
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #ff0000; 
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
} 


.box{
  border-top: 3px solid #ffffff !important;
}




.container{
  /*
  background: #D9EDF7;
  width: 100%;
  border-radius: 10px;
  height: 1%;  
  */
}
  
  h1, img, .price{
    display: inline-block;
    margin: 5px;
  }

  .price{
    float: right;
    font-size: 1.7em;
    color: #0088f5;
  }

  img{
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 13px;
    width: 20px;
  }

  .info{
    display: none;
  }



.item{
  margin: 2em 0;
  display: grid;
  grid-template-columns: 75% auto;
  text-decoration: none;
  color: #303030;
  font-size: 1em;    
  margin-top: 6px;
  margin-bottom: 0px;
}

  .fecha-coment{
    text-align: right;
    font-size: 1em;
  }

  .description{
    margin: 0;
  }
  


.content-coment{

  // border-width: 2px;
  // border-style: solid;
  padding: 15px 15px 15px 15px;
  margin: 25px 25px 25px 25px;
  background-color: #ffffff;
  // border-radius: 20px;
  // border-color: #0088f5;
  -webkit-box-shadow: 10px 7px 6px 0px rgba(171,171,171,1);
  -moz-box-shadow: 10px 7px 6px 0px rgba(171,171,171,1);
  box-shadow: 10px 7px 6px 0px rgba(171,171,171,1);
}

.comentario{
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 0px;
  color: #666666;
}

.archivo-coment{
  display: flex; 
  align-items: center;
}

.link-coment{
  font-size: 11px;
  padding-top: 11px;
}

.i-guardar-coment{
  font-size: 28px; 
  // padding-left: 7px;  
  // padding-bottom: 30px;
}

.i-cargar-archivo-coment{
  padding-bottom: 4px;
}

.avatar{
  width: 43px !important;
  // border-style: solid;
  //   border-color: #0088f5;
  //   border-width: 1px;
}

mat-tab-group{
  background-color: #ffffff;
}

  .form-group {
     margin-bottom: 0px; 
  }

  div#cdk-overlay-0 {
    width: 80%;
  }
  
  .mat-dialog-title{
    margin: 0px 0 19px;
  }

  .mat-card {
    top: 0px;
    margin: 0px 0 0 0px;
    display: block;
    position: relative;
    color:#ff0000;
  }

  .cssMCardComentsContr{
    /*IPR*/
    display: inline-block;
    position: relative;
    margin: -30px 0px 0px 0px;
    width: 100%;
    z-index: 1;
  }

  .cssMCardComentsFia{
    /*IPR*/
    display: inline-block;
    position: relative;
    margin: -20px 0px 0px 0px;
    width: 100%;
    z-index: 1;
  }

  .cssMCardComentsFiaGO{
     /*IPR*/
     display: inline-block;
     position: relative;
     margin: 45px 0px 0px 0px;
     width: 100%;
     z-index: 1;
  }

  .cssMCardComentsRec{
    /*IPR*/
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 0px;
    width: 100%;
    top: -250px;
    z-index: 1;
  }

  .cssMCardComentsRecGO{
    /*IPR*/
    display: inline-block;
    position: relative;
    margin: 40px 0px 0px 0px;
    width: 100%;
    top: -150px;
    z-index: 1;
  }


  .lblComentarios{
    font-size: 24px;
  }


  @media (max-width: 767px){
   
    .cssMCardComents{
      margin: 5px 5px 0px 0px;
    }
    .lblComentarios{
      font-size: 20px;
    }
    .container > .iconComent{
      margin-left: 7px;
      margin-bottom: 7px;
      width: 19px;
    }
  
    .box-header>.box-tools {
      position: relative;
      right: 10px;
    }
  
   
  
  }
  
  /*IPR*/
  .mat-dialog-content{
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    /*max-height: 75vh;*/
    max-height: 75vh;

  }

  /*IPR Dialog coments Forms*/
  .mat-dialog-content-coments{
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    height: 125px !important;
    max-height: 70vh !important;
  }


  .headTabTable {
    width: 50%;
  }


  .mat-tab-body-content{
    overflow: hidden !important;
  }

  .mat-card-header {
    background-color: white !important;
  }
  

  .mat-form-field{
    width: 100%;
    text-align: center;
  }

  .mat-tab-header{
    top: -18px;
  }

  .mat-dialog-actions{
    padding: 30px 0;
  }

  input[type="text"]:disabled{
    background-color: white;
    color: black;
    text-align: center;
  }

  .placeHolder{
    font-weight: bold;
    color: black;
  }

  /*******************************************************************/
 
  /******************************************************************/
  .flex-column {
    flex-direction: column!important;
  }

  .nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  /********************* Revision **********************************************/
  @media (min-width: 992px){
    .col-md-3 {
      width: 33%;
    }
  }

 @media (max-width: 999px){
  .mat-dialog-content{
      overflow: auto;
      overflow-x: hidden;
      padding-left: 0px;
      padding-right: 0px;
    }
    
    .btnSave{
      position: relative;
      display: inline-block;
      margin: auto;
      text-align: center;
      right: 40%;
    }
 
  }


  .info-box{
    background-color: #6b6b6b;
    border-radius: 0.5em;
    max-width: 70%;
    margin: auto;
    margin-bottom: 5%;
    height: 62px;
    min-height: 60px !important;
    /*IPR*/
    /*margin: 15px 0px 0px 0px;*/
  }
  
  .info-box-text {
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    text-align: center;
    /* float: right; */
    margin: 30px 0px 0px 0px;
    white-space: pre-wrap;
  }

  .dvBoxFath{
    display: block;
    position: relative;
    width: 50%;
    height: 40px;

    /*float: right;*/
  }

  .dvBoxChid{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    top: -20px;
  }

  .dvBoxChid  p{
    display: block;
    position: relative;
     text-align: center; 
     
    /*
    top: -25px;
    float: left;
    left: -50px;
    */
  }


  .dvSlide{
    float: right;
    margin-right: 15px;
  }
  
 


   /********************* Proceso **********************************************/

   .info-box-2 {
    background-color:#6b6b6b;
    border-radius: 0.5em;
    width: 80%;
    margin: auto;
    height: 90px;
    min-height: 60px !important;
   }
    



  .info-box-content2 {
    padding: 5px 10px;
    margin-left: 17px;
  }

     /********************* Terminada **********************************************/

  .btnControl{
    font-size: x-large;
    top: 25px;
    /* float: none; */
    left: 10%;
  }
  
  /**************************** Cards  ***********************************************/
  
  .cardBody{
    padding-left: 15px;
  }
  

  div#mat-tab-label-1-0 {
    background-color: deepskyblue;
  }

  .mat-icon-button{
    z-index: 1;
    height: 99%;
  }

  button.info-box-icon.btnAcept.mat-icon-button.mat-primary {
    font-size: 40px;
    margin: 0 0 0 0px;
    display: inline-block;
    position: relative;
    float: right;
    width: 47%;
    height: 66px;
  }

  .saveG{
    display: inline-block;
    position: relative;
    top: -10px;
    text-align: center;
    margin: 0 0 0 0px;
    color: #012050;
    font-size: 0.4em;
  }
  
    a.saveG:hover {
      text-decoration: underline;
    }

  .titHead{
    display: block;
    position: relative;
    text-align: center;
    margin: 0 55px 0px 0px;
    color: #303030;

  }

  .titDoc{
    display: block;
    position: relative;
    height: 50px;
    /*font-size: x-small;*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    text-align: center;
    color: #ffffff;
    /*font-weight: bold;*/
    font-size: 10px;
  }

  .btnFileFia {
    display: block;
    width: 0px;
  }

  /*FileUpload CSS*/
  /*********************************************************************************************/
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #file-label {
    display: inline-flex;
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
  }

  #file-label mat-icon {
    font-size: 18px;
    text-align: center;
  }

  #file-label a {
    cursor: pointer;
  }

  .iconMat{
    color: #3ec0ef;
    font-size: xx-large;
  }

  .iconDown{
    color: #47c66b;
  }
  /*********************************************************************************************/
  button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .box-primary{
    /*IPR*/
    height: 550PX;
    overflow-y: scroll;
  }

  .dvbutton{
    display: block;
    position: relative;
    height: 44px;
  }

  .slcFian{
    width: 100%;
  }

  input[type="text"], input[type="tel"]{
    font-size: 0.85em;
  }

.inpRec{
    position: relative;
    display: block;
    width: 210px;
}

.inRecUUID{
  position: relative;
  display: block;
}
  
.slcStRec{
  top: 18px;
}


.content-icons-coments{
  text-align: center;
  /*IPR*/
  top: -7px;
  font-size: 10px;
}


@media (max-width: 768px){
  .content-icons-coments {
    text-align: right;
  }
  // .lbl-icons{
  //   display: none;
  // }

  #btnCargarDocComent{
    padding-right: 0px;
  }
  #btnGuardarComent{
    padding-right: 44px;
  }

  #dvContrato{
    position: relative;
    right: 10px;
  }

  .mat-tab-list {
    display: inline-block !important;
    width: 100% !important;
  }

  #dvContrato{
    right: 100px;
  }
  
  .btnSave{
    background-size: 80px 80px !important;
    background-repeat: no-repeat !important;
    background-position: 50% 62% !important;
    height: 40px !important;
    width: 57px !important;
    margin-top: 10px !important;
  }

  .spGuardar[_ngcontent-c17] {
    top: 11px;
  }


}

#dvContrato{
  padding: 0px 0px 25px 0px;
}

.tab-number{
  display: block;
  width: 150px;
  height: 49px;
  line-height: 50px
}




/************************************************************************/
.slcFian2{
  line-height: 33px;
}

.pull-right-coments {
  display: block;
  position: relative;
  top: -30px;
}

.newComent{
  color: #ff0000;
}

.dowBit{
  color: #47c66b;
}

.dvNewComent{
  display: block;
  position: relative;
  height: 160px;
}

.desNewComent{
  position: relative;
  display: inline-block;
  width: 100%;
  top: -15px;
}

.txtNewComent{
  position: relative;
  height: 70px;
  color: #666666;
}

.btnSaveComn{
  color: #012050;
}


#spFianza, #spXMLFia,
#spRecibo, #spXMLRec{
    /*
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    top: -50px;
    */
} 

.dvCardPdf{
  position: relative;
  display: block;
  height: 90px;
  padding: 0 0 0px 0px;
  margin: 0 0 0 0px;
}

.dvCardXml{
  position: relative;
    display: block;
    height: 90px;
    padding: 0 0 0px 0px;
    margin: 5% 0px 0% 0%;
}

.dvCardAut{
  position: relative;
    display: block;
    margin: 0 0 0 5%;
    padding: 0 0 0 0px;
    max-height: 110px;
    max-width: 40%;
    left: 5%;
}

.dvfootCardCon{
  position: relative;
  top: -60px;
  z-index: 1;
}

.dvfootCardFia{
  position: relative;
  top: 0px;
  z-index: 1;
}

.dvfootCardRec{
  position: relative;
  top: -100px;
  z-index: 1;
}

.rowBtn{
  margin: 0% 0% 4% 0%;
}

::ng-deep .mat-tab-label.mat-tab-disabled, .mat-tab-link.mat-tab-disabled{
  color: rgba(128, 128, 128, 0.5) !important;
}