.h5Head{
    color: white;
    /*background-color: #3da3cc;*/
    background-color: #b0b0b0;
    display: block;
    position: relative;
    height: 40px;
    width: 90%;
    text-align: center;
    margin: 0px 0px 0px 14px;
}

.cssStMenu{
    position: relative;
    display: block;
    top: 12px;
}

.menu-nivel-1{
    cursor: pointer;
}

/*IPR*/
@media (max-width: 991px){
    .h5Head{
        margin: 50px 0px 0px 14px;
    }
}

