<div class="login-box">
  
  <div class="login-logo">
    <img src="assets/Images/AccionaNew.jpg" class="img-responsive" alt="User Image">
  </div>

  <div class="login-box-body">

    <p class="login-box-msg">Inicia Sesión</p>

    <form [formGroup] = "loginForm" >

      <div class="form-group has-feedback">
        
        <input id="inEmail" type="text" class="form-control" placeholder="Email" formControlName="inEmail" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span style="color:Red;" *ngIf="loginForm.controls['inEmail'].touched && loginForm.controls['inEmail'].errors?.required">Email
        is required.</span>

      </div>
        
      <div class="form-group has-feedback">
        
        <input id="inPass" type="password" class="form-control" placeholder="Password" formControlName="inPass" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        
        <span style="color:Red;" *ngIf="loginForm.controls['inPass'].touched && loginForm.controls['inPass'].errors?.required">Password
        is required.</span>
        
      </div>
        
      <div class="row">
        
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <!--<div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me-->
            </label>
          </div>
        </div>

        <!-- /.col -->
        <div class="col-xs-4">
          <button id="btnLogin" class="btn btn-block btn-flat btnLogin" [disabled]="loginForm.invalid" (click)="onLogin()" >Entrar</button>
        </div>
        <!-- /.col -->
      
      </div>
      
    </form>
    
    <a data-toggle="modal" data-target="#modalContrasena" class="aPass">Olvidé mi password</a><br>
    <span style="color:Red;" *ngIf="noFoundUsu">Usuario no encontrado.</span>

  </div>

</div>


<div class="modal fade" id="modalContrasena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        
          <form [formGroup] = "resetPassForm" id="recuperacionForm" name="recuperacionForm">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Recuperaci&#243;n de contrase&ntilde;a</h4>
              </div>
              <div class="modal-body">
                  <div class="form-group has-feedback">
                      <input formControlName="correoRecuperar"  type="email" id="correoRecuperar" name="correoRecuperar"
                         class="form-control" placeholder="correo@dominio.com" maxlength="50" autofocus required>
                      <span *ngIf="resetPassForm.controls['correoRecuperar'].touched && resetPassForm.controls['correoRecuperar'].errors?.required"
                         class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      <span style="color: green;" id="msgResetPass"></span>
                  </div>
              </div>
              
              <div class="modal-footer">
                  <button (click)="onResetPass()" [disabled]="resetPassForm.invalid" type="submit"  class="btn btn-primary">Recuperar</button>
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default">Cancelar</button>
              </div>
          </form>
      </div>
  </div>
</div>


<ngx-spinner
    bdOpacity = 0.5
    bdColor="rgba(51,51,51,0.8)"
    size = "large"
    color = "#f00"
    type = "timer"
    [fullScreen] = "true">
  <p style="color: red" > : : Cargando : : </p>
</ngx-spinner>