
#dtSolicitudes{
    display: block;
    position: relative;
    top: -100px;
    z-index: 1000;
}

.dvSolNew{
    background-color: #363839;
}

.contenWrapper{
    min-height: 500px !important;
}

#boxFiltros{
    /*border-top-color: #002050;*/
}

.row h4{
    text-align: center;
}

.rowMenu{
    width: 80%;
    margin: 10% 0 0 20%;
}

.wNew{
    background-color: #ff0000;
}

.wNew h3{
    color: #fff;
    text-align: center;
}

.wNew i{
    color: #fff;
    font-size: 85px;
    text-align: center;
    margin: 0 0 0 33%;
}

.bg-black{
    background-color: #666666;
}

.bg-black h3{
    color: #fff;
    text-align: center;
}

.bg-black i{
    color: #fff;
    font-size: 85px;
    text-align: center;
    margin: 0 0 0 33%;
}



.btnSaveComent{
    background: url(../.././../assets/Images/AccionaNew-3.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*
    float: right;
    position: relative;
    right: 20px;
    top: -10px;
    background-color: red;
    background-size: 110px 100px;
    background-repeat: no-repeat;
    background-position: 50% 51%;
    height: 30px;
    width: 37px;
    border-radius: 11%;
    box-shadow: 0 3px 1px -2px rgba(16, 16, 16, 0.7), 0 2px 2px 0 rgba(23, 23, 23, 0.5), 0 1px 5px 0 rgba(0,0,0,0.8);*/
}


#dvNewSol, #dvDash{
    cursor: pointer;
}

.cssDashAg{
    left: 25%;
}