
// IMPORTS

/* You can add global styles to this file, and also import other style files */
@import url(assets/bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url(assets/bower_components/font-awesome/css/font-awesome.min.css);
@import url(assets/bower_components/Ionicons/css/ionicons.min.css);
@import url(assets/bower_components/jvectormap/jquery-jvectormap.css);
@import url(assets/dist/css/AdminLTE.min.css);
@import url(assets/dist/css/skins/_all-skins.min.css);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Lato');

/*@import "assets/plugins/iCheck/square/blue.css";*/
/*@import url(assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css);*/
/*@import url(assets/plugins/semantic-ui/dist/semantic.min.css);*/
/*@import url(assets/plugins/semantic-ui/dist/components/popup.css);*/

/*@import url(../node_modules/primeng/resources/themes/omega/theme.css);*/
/*@import url(assets/components/themes/nova-light/theme.css);*/

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/



/*IPR quitar el overlay de los botones*/

.mat-ripple-element{
  display: none !important;
}

.mat-button-focus-overlay {
  background-color: transparent!important;
}

/************************************************************************/
.myPanelClass{
  margin-top: 450px !important; 
}

/************************************************************************/

/* INICIA ASIDENAVBAR (Barra lateral izquierda menus y submenus)*/  
  .sidebar-menu{
    padding: 10px 10px 10px 10px;
  }

  aside.main-sidebar {
    /*IPR*/  
    /*background-color: #f4f4f4 !important;*/
    /*background-color: #363839 !important;*/
    background-color: #ffffff !important;
  }

  .cssSol{
    /*IPR*/
    /*background-color: #f4f4f4 !important;*/
    /*color: rgb(255, 255, 255) !important;*/
    color: #232323 !important;
  }

  li.header {
      /*IPR*/
      /*background: #f4f4f4 !important;*/
      color: black;
  }

  .treeview-menu{
    display: block;
  }

  ul.treeview-menu {
    color: black;
    /*IPR*/
    /*background: #f4f4f4 !important;*/

  }

  /*
  li.treeview a:hover {
    color:#0e2039;
    background: #f4f4f4 !important;
    text-decoration: underline;
  }
  */

  a.clsMenuSon:hover {
    /*color: #0e2039;*/
    color: #f30301;
    background: #f4f4f4 !important;
    text-decoration: underline;
  } 



  .treeview-menu>li {
      margin: 0 0 0 30px;
  }

  .main-sidebar{
    padding-top: 100px;
  }

  .menu-nivel-1{
    padding-bottom: 11px;
    padding-top: 11px;
  }

  li.active > a {
    /*border-left-color: #3C8DBC;*/
    border-left-color: #f30301;
    border-left-style: solid;  
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 5px;
  }

  a{
    /*cursor:pointer;*/
  }

  .clsMenuNew{
    height: 105% !important;
  }

  .clsMenuSon{
    /*color: #3c8cbc !important;*/
    color: #b2b2b2 ;
  }

/* TERMINA ASIDENAVBAR (Barra lateral izquierda menus y submenus)*/

/* INICIA TOPNAVBAR*/

  /* fallback */
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .logoHead{
    /*IPR*/
    /*background-color: #263576   !important; */
    /*background-color: #41b6e6  !important;*/
    background-color: #232323  !important;
  }

  .skin-blue .main-header .logoHead:hover {
    /*IPR*/
    /*background-color: #222d32 !important;*/
    /*background-color: #41b6e6  !important;*/
    background-color: #232323  !important;
  }

  .navHead {
    /*IPR*/
    /*background-color: #263576  !important;*/
    /*background-color: #41b6e6  !important;*/
    background-color: #232323  !important;
  }

  a {
      color: #3c8dbc;
  }


  a.dropdown-toggle{
    background: rgba(0,0,0,0) !important;
    color: #FFF;
  }

  .nav>li>a:hover{
    color: #FFF !important;
  }

  li.user-header {
    background-color: #222d32 !important ;
  }

  .main-header .logo {
    font-size: 18px;
    height: 80px;
    color: #FFF !important;
  }
  
  .main-header .logo .logo-lg{
    color: #FFF !important;

  }

  @media (max-width: 991px){
    
    .navbar-custom-menu .navbar-nav>li>a{
      background: rgba(0,0,0,0) !important;
      color: #FFF !important;
    }
    .main-header .logo{
      height: 70px;
    }
    .navbar-custom-menu{
      position: initial !important;
     
    }

    .main-header .navbar {
      min-height: 40px  !important;
    }

    .main-header .navbar-custom-menu{
      height: 40px !important;
    }

    .dropdown-toggle{
      text-align: right;
    }

    /****************** Mobile Styles **************************/
    .rowContrMob{
      margin-top: 60px;
    }

    .btnContrMob{
      display: block;
      position: absolute !important;
      top: -150px;
      margin: auto;
      right: 150px;
    }

    .btnFiaMob{
      right: 125px;
    }

    .btnRecMob{
      right: 150px;
      top: -50px
    }

    .inpRec{
      width: 100% !important;
    }

    .txtComenMob{
      border-bottom-style: inset !important;
      border-bottom-color: #41b6e6 !important;
    }

  }

  @media (max-width: 767px){
    .navbar-custom-menu .navbar-nav>li.nombre-user{
      
      /*float: initial;*/
      position: relative;
      float: right;
      /*left: -49px;
      top: -22px;
      */
      display: block;
      margin: auto;
    }
    

    .nombre-user{
      float: initial;
      height: 27px;
    }
    .main-header{
      font-size: 11px;
      max-height: 140px
    }
    .main-header .navbar-custom-menu {
      font-size: 11px;
      height: 60px !important;
    }
    .overlay{
      height: 150% !important;
      position: fixed !important;
    }
    .cssMCardComents{
      padding-left: 8px;
      padding-right: 8px;
    }

    .liNameTop{
      float: left;
      top: 0px;
      left: 5px;
    }

    .liGuia{
      position: relative;
      display: block;
      float: left;
      top: 3px;
      left: 35px;
    }

    .liCerrSess{
      position: relative;
      display: block;
      float: right;
      top: 3px;
    }

   

  }



  @media (max-width: 403px){
    .main-header .navbar-custom-menu {
      font-size: 9px;
    }
  }


  .main-header .sidebar-toggle {

    color: #FFF !important;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 10px;
  }
   
  .main-header .navbar{
    /*min-height: 80px;*/
    height: 80px;
  }

  .navbar-custom-menu {
    position: relative;
    top: 35px;
  }
  
  .clsUser{
    /*margin: 0 10px 0px 0px;    */
    display: inline-block;
    position: relative;
    top: -6px;
  }
  
/* TERMINA TOPNAVBAR*/

/*Loadnig*/
.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
  }
  &:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #1A6844;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}


@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

.btnReports{
  margin: 5px 0px 5px 20px !important;
  /*background-color: #002050 !important;*/
  background-color: #f30301 !important;
  color: #ffffff !important;
}






.no-scroll{
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

